---
import BaseLayout from '../layouts/BaseLayout.astro';
import Section from '../components/Section.astro';
---

<BaseLayout title="Impressum">
  <Section title="Impressum">
    <p>Angaben gemäß § 5 TMG / § 25 MedienG:</p>
    <p>Astrid Lindgren Zentrum<br />Mustergasse 123<br />1230 Wien</p>
    <p>ZVR-Zahl: 123456789</p>
    <p>E-Mail: office@astrid-lindgren-zentrum.at</p>
  </Section>
</BaseLayout>
